<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Main Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1>Frankie's Choose Your Own Adventure Game!</h1>
    <ion-button color="primary" routerLink='/play'>Play</ion-button>
    <ion-button color="danger" routerLink='/options'>Options</ion-button>
  </div>
</ion-content>